/Kata5P1 v1/nbproject/private/
/Kata5P1 v1/build/
/Kata5P1 v1 - copia/build/
/Kata5P1 v1 - copia/nbproject/private/
/Kata5P1 v2/build/
/Kata5P1 v2/nbproject/private/
/Kata5P1 v2 - copia/build/
/Kata5P1 v2 - copia/nbproject/private/
/Kata5P1 v3/build/
/Kata5P1 v3/nbproject/private/
